.background {
  background-image: url(../img/webApiFormat/main-man-2560.webp);
  transition: background-image 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: lightgray 50%;
}

.promo-inner {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.background__cross-platform-info {
  position: relative;
  background-color: var(--col_y);
  clip-path: polygon(
    10% 0,
    100% 0,
    100% 20%,
    100% 90%,
    90% 100%,
    0 100%,
    0% 80%,
    0 10%
  );
  max-width: 630px;
  padding: 70px;
  z-index: 5;
  margin-right: 17%;
}

.available-info {
  color: var(--color_black);
  font-family: Archangelsk;
  font-size: 3.88rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.cross-platform-info__available-info {
  margin: 0;
  margin-bottom: 25px;
}

.cross-platform-info__additional-information {
  color: var(--col_y);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  background-color: #000;
  display: inline-flex;
  padding: 19px 50px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s;
}

.cross-platform-info__additional-information:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}

.description {
  margin-left: 16.6vw;
  margin-right: 16.6vw;
}

.description__night-city-title {
  font-family: Archangelsk;
  color: var(--color_black);
  font-size: 62.08px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.description__description-text {
  color: var(--col_grey);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.125rem;
  max-width: 952px;
}

.description__wrapper-for-photos {
  margin-top: 70px;
  display: flex;
  gap: 32px;
}

.description__photos-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  padding-inline-start: 0px;
  margin-top: auto;
}

.description__wrapper-for-photos img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1100px) and (min-width: 600px) {
  .background__cross-platform-info {
    margin-right: 3%;
  }

  .available-info {
    font-size: 1.875rem;
    max-width: 320px;
  }

  .cross-platform-info__additional-information {
    font-size: 1.25rem;
  }

  .description {
    margin-left: 3.9vw;
    margin-right: 3.9vw;
  }

  .description__night-city-title {
    max-width: 620px;
    width: 100%;
  }

  .description__description-text {
    max-width: 790px;
    width: 100%;
  }

  .description__wrapper-for-photos {
    flex-direction: column;
  }

  .description__photos-list {
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
  }
}

@media (max-width: 599px) {
  .background__cross-platform-info {
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    padding: 30px 13px 30px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cross-platform-info__black-blackground {
    max-width: 244px;
    width: 100%;
  }

  .available-info {
    font-size: 1.875rem;
    text-align: center;
    max-width: 420px;
    width: 100%;
  }

  .cross-platform-info__additional-information {
    font-size: 1.125rem;
  }

  .description {
    margin-left: 12px;
    margin-right: 12px;
  }

  .description__night-city-title {
    font-size: 1.875rem;
  }

  .description__description-text {
    font-size: 1rem;
  }

  .description__wrapper-for-photos {
    margin-top: 40px;
    flex-direction: column;
    gap: 0;
  }
  .description__item-photos {
    width: 100%;
  }
}
